.main {
  background-color: #fff;
  border-radius: 2px;
  padding: 1rem;
  
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .result{
      margin-top: 10px;
      font-weight: 500;
    }

    select {
      cursor: pointer;
    }
  }
}
